.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

main {
    position: relative;
}

html {
    overflow-y: scroll;
}

#background-img {
    position: absolute;
    opacity: 0.7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 521px;
}

.condition, #wind-speed {
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
}

.scrolling-wrapper {
    margin: 5px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
}

.scrolling-wrapper::-webkit-scrollbar { 
    display: none;
}

.card {
    text-align: center;
    width: 120px;
    flex: 0 0 auto;
    margin-right: 10px;
}

#daily-forecast > .card {
    min-width: 140px;
}

.forcast-title {
    margin-bottom: 40px;
}

.featurette-divider {
    margin-bottom: 15px;
}

#daily-forecast > .card {
    margin: 0 10px;
    width: 12%;
    align-items: center;
}

.daily-temp-range {
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    font-size: 20px;
}

.form-select {
    border: none;
    margin: 0 8px 0 0;
    padding: 6px 10px 6px 0px;
    width: 50px;
}

#background-container {
    position: relative;
}

.star {
    position: relative;
    margin-top: 20px;
    margin-left: 95%;
    color: #e9cb79;
}

.temp {
    color: #FC5B5C;
}

.humidity {
    color: #006994;
}

.wind-speed {
    color: #3B8284;
}

.uv-index {
    color: #ffcc33;
}

#humid-info {
    margin-left: 18px;
}

#city-name, h2, .navbar-brand {
    font-family: 'Dosis', sans-serif;
}

#city-name {
    font-size: 4rem;
}

h2 {
    font-style: italic;
}

#date, .col-lg-3 > h1, .time, .hourly-temp, .day, .daily-temp-range {
    font-family: 'Thasadith', sans-serif;
}

#date {
    margin-bottom: 0;
    font-weight: bold;
}

.time, .day {
    margin-top: 10px;
}

.hourly-temp, .daily-temp-range {
    font-weight: 700;
}

#weather-description, .col-lg-3 > p, .daily-description, nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#weather-description {
    font-style: italic;
}

.hidden {
    display: none;
}

@media (max-width: 1399px) {
    .detail {
        margin-left: 10px;
    }
}

@media (max-width: 1199px) {
    #wind-speed-info, #uv-index-info, #humid-info {
        margin-left: 20px;
    }

    .info > h1  {
        font-size: 2.3rem;
    }

    .uv {
        padding-left: 70px;
    }
}

@media (max-width: 992px) {
    .row > .col-lg-3 {
        width: 25%;
        text-align: center;
    }

    .info {
        margin-top: 10px;
    }

    #temp-info {
        margin-left: 28px;
    }

    #humid-info {
        margin-left: 43px;
    }

    #wind-speed-info {
        margin-left: 10px;
    }

    #uv-index-info {
        margin-left: 5px;
    }

    #uv-index-info h1 {
        margin-left: 65px;
    }

    .uv {
        padding-left: 35px;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    #temp-info {
        margin-left: 10px;
    }

    #temp-info h1 {
        margin-left: 7px;
    }

    #humid-info {
        margin-left: 25px;
    }

    #uv-index-info h1 {
        margin-left: 70px;
    }

    .star {
        margin-left: 94%;
    }

    .dropdown-menu {
        background: #212529;
        border: none;
        width: 15%;
    }

    .dropdown-menu li a {
        color: white;
    }

    .dropdown-menu li {
        display: inline;
    }
}

@media (max-width: 639px) {
    body {
        width: 100vw;
        overflow-x: hidden;
    }

    .star {
        margin-left: 93%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 100vw;
    }

    body {
        overflow-x: hidden;
        white-space: nowrap;
    }

    .row > .col-lg-3 {
        font-size: 0.75rem;
    }

    .info > h1 {
        font-size: 25px;
    }

    #humid-info {
        margin-left: 8px;;
    }

    #uv-index-info h1 {
        margin-left: 77px;
    }

    .uv {
        padding-left: 0;
    }

    .star {
        margin-left: 89%;
    }
}